<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarnetsdeFeria</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Participacion">
                <span class="bi bi-person-gear fs-3" aria-hidden="true"></span> Participacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocIdentificacion">
                <span class="bi bi-person-vcard fs-3" aria-hidden="true"></span> Doc Identificacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ferias">
                <span class="bi bi-building-fill fs-3" aria-hidden="true"></span> Eventos de Feria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EspacioParque">
                <span class="bi bi-building-fill fs-3" aria-hidden="true"></span> Espacios de Feria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AreasFeria">
                <span class="bi bi-building-fill fs-3" aria-hidden="true"></span> Areas de Feria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Carnets_Principal">
                <span class="bi bi-building-fill fs-3" aria-hidden="true"></span> Carnets de Ferias
            </NavLink>
        </div>
    </nav>
</div>

